.QAItem{
    padding-left:2em;
    position: relative;
}
.QAItem .index{
    position: absolute;
    top:0px;
    left:1em;
}
.QAItem p{
    overflow: hidden;    /*超出部分隐藏*/
    white-space: nowrap;    /*不换行*/
    text-overflow: ellipsis;
}
.myLink{
    color:#34495e;
}
.QAItem .ques{
    color:black;
}