.loginForm{
    position: relative;
    top:20%;
    /* transform: translateY(-50%); */
    background: white;
    border-radius: 6px;
}
.loginForm .nav li{
    color:#7f8c9a;
    font-size: 24px;
    width:50%;
    text-align: center;
    cursor: pointer;
}
.loginForm .nav li.active{
    border-bottom:2px solid #1abc9c;
}
.loginForm .tab-content{
    border:none;
}

.loginForm .accountType{
    display: flex;
    justify-content: center;
    align-content: center;
}
.loginForm .accountType .radio{
    margin-top:0px;
}
.loginForm .accountType .radio:first-child{
    padding-left:0px;
    padding-right:32px;
}
.loginForm .accountType .radio:last-child{
    padding-right:0px;
    padding-left:32px;
}
.loginForm .operationBtn{
    text-align: center;
}
.loginForm .operationBtn button{
    padding-left:2em;
    padding-right:2em;
}
