.listBox{
    padding:0px;
    height:60%;
    position: relative;
    overflow-y:scroll; 
    border-top:2px solid gray;
    border-bottom: 2px solid gray;
}
.listBox::-webkit-scrollbar{
    width:4px;
}
.listBox::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
}
.listBox::-webkit-scrollbar-track{
    border-radius: 5px;
    background:rgba(0,0,0,0.1)
}
.listBox .tableHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listBox .mytable{
    position: absolute;
}
@media(max-width:768px){
    .listBox .mytable{
        position:relative;
    }
    .listBox .mytable{
        text-align: center;
    }
}
.listBox .mytable .indexTip{
    cursor: pointer;
}
.listBox .mytable .indexTip:hover{
    color: #16a085;
}

.listBox .mytable td{
    padding: 9px;   
}