.listContainer{
    float:right;
    height:100%;
    width:0px;
    position: relative;
    left:6px;
}
.listContainer .list{
    width:350px;
    position: absolute;
    height: 100%;
    top:0px;
    left:0px;
    padding-right:6px;
    /* background-color:#f1f1f1; */
}
.list .hidden{
    position: absolute;
    top:40%;
    left:-6px;
    cursor:pointer;
}
.list .show{
    position: absolute;
    top:40%;
    left:-54px;
    cursor: pointer;
}
.list .hidden:hover{
    background-color: #34495E;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.list .show:hover{
    background-color: #34495E;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.aniSlideRight .show,.aniSlideLeft .hidden,.slideInit .show{
    display: inline;
    z-index: 999;
}
.aniSlideLeft .show,.aniSlideRight .hidden,.slideInit .hidden{
    display: none;
}

.aniSlideRight{
    animation: slideRight 1s;
    width:0px;
}
.aniSlideLeft{
    animation: slideLeft 1s;
    width:350px;
}
@keyframes slideRight{
    from{
        width:350px;
    }
    to{
        width:0px;
    }
}
@keyframes slideLeft {
    from{
        width:0px;
    }
    to{
        width:350px;
    }
}

/* above slide animation */

.list .title,.list .listItem{
    width:100%;
    padding-left:1rem;
    color:#BDC3C7;
    font-size: 0.9rem;
}
.list .listItem{
    margin-top:0px;
    margin-bottom: 0px;
}
.list .title{
    border-bottom: 1px solid #BDC3C7;
    padding-bottom: 8px;
}
.title span,.listItem span{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
}
.vtime{
    width:12%;
}
.ques{
    width:57%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sendTime{
    width:28%;
    margin-left:3%;
}
