.lesson{
    padding: 6px 6px;
    overflow: hidden;
}
.playerContainer{
    margin-top:6px;
    position: relative;
    height:80vh;
}
/* .dplayer-controller-mask{
    border-radius: 8px;
} */
.videoPlayer{
    height:100%;
}
.ansQues{
    padding:1rem 2rem;
}
.ansHead{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.ansLogo{
    width:2.6rem;
}
.ansTitle{
    color:#2c3e50;
    margin-left:1rem;
    font-weight: bold;
}

.listContainer{
    float:right;
    height:100%;
    width:350px;
    position: relative;
    
}
.listContainer .list{
    width:350px;
    position: absolute;
    height: 100%;
    top:0px;
    left:6px;
    /* background-color:#f1f1f1; */
}
.list .hidden{
    position: absolute;
    top:40%;
    left:-6px;
    cursor:pointer;
}
.list .show{
    position: absolute;
    top:40%;
    left:-54px;
    cursor: pointer;
}
.list .hidden:hover{
    background-color: #34495E;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.list .show:hover{
    background-color: #34495E;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.aniSlideRight .show,.aniSlideLeft .hidden{
    display: inline;
    z-index: 999;
}
.aniSlideLeft .show,.aniSlideRight .hidden{
    display: none;
}

.aniSlideRight{
    animation: slideRight 1s;
    width:0px;
}
.aniSlideLeft{
    animation: slideLeft 1s;
    width:350px;
}
@keyframes slideRight{
    from{
        width:350px;
    }
    to{
        width:0px;
    }
}
@keyframes slideLeft {
    from{
        width:0px;
    }
    to{
        width:350px;
    }
}
