.lesson{
    padding: 6px 6px;
    overflow: hidden;
}
.playerContainer{
    margin-top:6px;
    position: relative;
    height:80vh;
}
/* .dplayer-controller-mask{
    border-radius: 8px;
} */
.videoPlayer{
    height:100%;
}
.ansQues{
    padding:1rem 2rem;
}
.ansHead{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.ansLogo{
    width:2.6rem;
}
.ansTitle{
    color:#2c3e50;
    margin-left:1rem;
    font-weight: bold;
}

